.loading-view {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transition: visibility 0s linear 0.8s;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: url('../images/loading.jpg') no-repeat center center;
        background-size: cover;
        z-index: -1;
        transition: all 0.5s ease-in-out 0s;
    }

    @keyframes mycolor {
        0% {
        width: 0%;
        }
        100% {
        width: 100%;
        }
    }

    &_bar {
        left: 50%;
        top: 55%;
        width: 3.7rem;
        height: 0.5rem;
        position: absolute;
        border-radius: 0.3rem;
        transform: translateX(-50%);
        background-color: #e2fba6;
        border: #e2fba6 solid 3px;
        // border-bottom: #ffffff solid 2px;
        &:before {
            top: 0;
            left: 0;
            width: 100%;
            content: "";
            height: 100%;
            position: absolute;
            border-radius: 0.3rem;
            background-color: #aed35b;
            animation: mycolor 3s linear infinite;
        }

        &:after {
            bottom: 0;
            left: 50%;
            //width: 52px;
            color: #ffffff;
            font-size: 0.3rem;
            font-weight: bold;
            position: absolute;
            content: "loading...";
            transform: translate3d(-50%, 150%, 0);
        }

        & .loading-title {
            top: 0;
            left: 50%;
            height: auto;
            width: 2.66rem;
            position: absolute;
            transform: translate3d(-50%, -180%, 0);
        }
    }

    &.show {
        visibility: visible;
        transition: visibility 0s linear 0s;
        & .loading-view {
            &__bg {
                opacity: 1;
                transition: all 0.5s ease-in-out 0.2s;
            }
        }
    }
}