.login-view {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transition: visibility 0s linear 0.8s;

    & .logo {
        opacity: 0;
        width: 2.47rem;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg-login.png') no-repeat center center;
        background-size: cover;
        z-index: -1;
        transition: all 0.5s ease-in-out 0s;
    }

    &__login_panel {
        background-color: #FFF;
        border-radius: 0.6rem 0.6rem 0rem 0rem;
        opacity: 0;
        transform: translateY(70%);
        transition: all 0.5s ease-in-out 0.3s;
        &.form {
            padding: 0.6rem 1rem 1.6rem 1rem;
        }
    }

    &.show {
        visibility: visible;
        transition: visibility 0s linear 0s;
        & .login-view__bg {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s ease-in-out 0.2s;
        }
        & .login-view__login_panel {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s ease-in-out;
        }

        & .logo {
            opacity: 1;
        }
    }
}